mixin card(nameProducto, image, alt)
  .card
    h2.card__title #{nameProducto}
    picture.card__image-container
      img(src=image, alt=alt, load="lazy").card__image-container__img
    a(href="").card__link Ver más

mixin buttonMode
  .mode-button
    img(src="/svg/sun.svg", alt="Sun")#mode-button__svg

mixin productoCarrito(pathImage, alt, name, description, precio)
  .articulo__details
    picture.articulo__details__container-img
      img(src=pathImage, alt=alt).articulo__details__container-img__img
    .articulo__details__info
      p.articulo__details__info__name.text--change-color=name
      p.articulo__details__info__description.text--change-color=description
  .articulo__cantidad
    input(type="number", value="1", min="1").articulo__cantidad__input
  p.articulo__precio.text--change-color $#{precio}
  .articulo__total.text--change-color
    p $1.99
    picture.articulo__total__container-svg
      img(src="/svg/x.svg", alt="X")
  .line.line--grid-2

mixin nameSeccion(nameSeccion)
  h2.title.text--change-color=nameSeccion
  .line


mixin cardFewProducts(name, description, price, pathImage, alt, oldPrice)
  .card-few-products
    p.card-few-products__name.text--change-color=name
    p.card-few-products__description.text--change-color=description
      p.card-few-products__price__price $#{price}
      if oldPrice
        p.card-few-products__price__oldPrice $#{oldPrice}
    .button Añadir al carrito
    picture.card-few-products__container-image
      img(src=pathImage, alt=alt).card-few-products__container-image__img

mixin cardFewProductsVertical(name, description, price, pathImage, alt, oldPrice)
  .card-few-products
    p.card-few-products__name.text--change-color=name
    p.card-few-products__description.text--change-color=description
    .card-few-products__price
      p.card-few-products__price__price $#{price}
      if oldPrice
        p.card-few-products__price__oldPrice $#{oldPrice}
    .button Añadir al carrito
    picture.card-few-products__container-image
      img(src=pathImage, alt=alt).card-few-products__container-image__img.card-few-products__container-image__img--vertical
